.mapContainer {
  position: relative;
  height: 80%;
  box-shadow: 0px 3px 18px -11px;
  top: 0;
  bottom: 0;
}

.map {
  position: absolute;
}

.marker {
  width: 20px;
  height: 20px;
  background-image: url("../../../assets/job.png");
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mapContainer {
    width: 90% !important;
    height: 80%;
  }
}
