.card-container {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  height: 250px;
  border-top: 5px #5c9ad9 solid;
}

.card-btn-container {
  display: flex;
  order: 99;
}

.card-btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black;
  border: none;
}

.card-btn a:hover {
  text-decoration: none;
}

.view-btn {
  background-color: #2980b9;
  color: white;
  font-weight: 300;
}

.view-btn:hover {
  background-color: #3498db;
}

.dlt-btn {
  color: white;
  background-color: #c0392b;
  font-weight: 300;
}

.dlt-btn:hover {
  background-color: #e74c3c;
}

.card-info {
  text-align: center;
  padding: 10px 15px 0px 15px;
  flex-grow: 2;
}
